.confirm--background
{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, .6);
    z-index: 99999;
    width: 100%;;
    height: 100%;
    overflow: auto;
    transform: scale(0);
    opacity: 0;

    transition: transform .4s, opacity .5s;
}

.confirm--background.open{
    transform: scale(1);
    opacity: 1;
}

.confirm--window{

    margin: 30px auto 0px auto;
    display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 550px;
  min-height: 200px;

  padding: var(--pad);
  border-radius: var(--bRadius);
  background-color: white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 0 2px 2px rgba(0,0,0,0.11), 0 4px 4px rgba(0,0,0,0.11), 0 8px 8px rgba(0,0,0,0.11), 0 16px 16px rgba(0,0,0,0.11), 0 32px 32px rgba(0,0,0,0.11);

}

.confirm--header{
    font-weight: bold;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
}

.confirm--header i {
    color: var(--orange);
    cursor: pointer;
}

.confirm--footer{
    display: flex;
    column-gap: 10px;
    justify-content: end;
}

body{
}