:root{

    --bRadius: 5px;
    --pad: 10px;

    /* Colors */
    --gray: #707070;   
    --light_gray: #F5F5F5;
     
    --blue: #2185D0;

    --purple: #AF49D9;
    --light_purple: #AF49D972;
}

body{
    padding: 0px;
    margin: 0px;
}

body *, input{
    font-family: 'IBM Plex Sans', sans-serif;
    box-sizing: border-box;
}

a{
    color: var(--blue);
}

button{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}