.modal--background
{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, .6);
    width: 100%; 
    height: 100%;

    visibility: hidden;
    overflow: auto;
    transform: scale(0);
    opacity: 0;
    z-index: 99999;

    transition: opacity .4s 0s, transform .4s 0s, visibility 0s .4s;
}

.modal--background.open{
    transform: scale(1);
    opacity: 1;
    visibility: visible;

    transition: visibility 0s 0s, opacity .4s, transform .4s;
}

.modal_window{
    margin: 30px auto 10px auto;
    max-width: 1200px;
    background-color: white;    
    border-radius: var(--bRadius);
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
    border: 1px solid var(--gray);
    overflow: hidden;
}

.modal--header{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-bottom: 1px solid var(--light_gray);
    padding: var(--pad);
}

.modal--header span{
    font-size: 20px;
    font-weight: 500;
}

.modal--body_container
{
    width: 100%;
    overflow: hidden;
}

.modal--body{
    display: flex;
    transform: translateX(0px);
    padding: var(--pad);
    transition: transform .4s;
}

.modal--body > *{
    flex-basis: 100%;
    flex-shrink: 0;

    padding: var(--pad);
}