.font_changer{
    position: relative;
}

.font_changer input{
    border: 0px;
    outline: none;
}

.font_changer--header
{
    border: 1px solid black;
    padding: 3px;
}

.font_changer .font_changer--content{
    background-color: var(--gray);
    max-height: 0px;
    overflow: auto;
    padding: 0px 2px;
    position: absolute;
    width: 100%;
}

.font_changer--font
{
    padding: 2px ;
    background-color: var(--light_gray);
    margin: 2px 0px;
    cursor: pointer;

    text-indent: 10px;
}

.font_changer.active .font_changer--content{
    max-height: 200px;
}

.action_button{
    background-color: transparent;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
}

.action_button.up{
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
}

.action_button.active{
    background-color: var(--light_orange);
}

.action_button.down{
    font-size: 18px;
    font-weight: 400;
}

.action_button.bold{
    font-weight: bold;
}

.action_button.italic{
    font-style: italic;
}

.action_button.underline{
    text-decoration: underline;
}

.action_button.strike{
    text-decoration: line-through;
}

.color{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--bRadius);
    width: 30px;
}

.color input{
    width: 0px;
    visibility: hidden;
    padding: 0px;
    border: none;
}

.color i{
    position: relative;
    font-size: 18px;
}

.action_button i{
    position: absolute;
    font-size: 12px;
    top: 0px;
    right: 0px;
}

.action_button:active{
    background-color: var(--light_gray);
}

.font_change--selector_container{
    position: relative;
    width: 130px;
}

.font_change--selector_header{
    display: flex;
    column-gap: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;

    padding: calc(var(--pad) / 2) var(--pad);
    border-radius: var(--bRadius);
}

.font_change--selector_header:hover{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.font_change--selector_list_container{
    display: grid;
    grid-template-rows: 0px;
    overflow: hidden;
    
    position: absolute;
    top: calc(100% + 5px);
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    transition: grid-template-rows .3s;
}

.font_change--selector_container.active .font_change--selector_list_container{
    grid-template-rows: 200px;
}

.font_change--selector_container.active .font_change--selector_header{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; 
}

.font_change--selector_list{
    display: flex;
    flex-direction: column;
    overflow: hidden;

    width: 200px;
    z-index: 99999;
    overflow: auto;

    background-color: white;
    border-radius: var(--bRadius);
}

.font_change--selector_list span{
    padding: calc(var(--pad) / 2);
    cursor: pointer;
    width: 100%;
}

.font_change--selector_list span:hover{
    background-color: var(--light_gray);
}

.font_size--container{
    position: relative;
}

.font_size--container input{
    appearance: none;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: var(--bRadius);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.font_size--container input::-webkit-outer-spin-button,
.font_size--container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.font_size--list_container{
    display: grid;
    grid-template-rows: 0px;

    position: absolute;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: var(--bRadius);
    top: calc(100% + 5px);
    width: 30px;
    z-index: 99999;

    transition: grid-template-rows .3s;
}

.font_size--list{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.font_size--list > span{
    padding: calc(var(--pad) / 2);
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.font_size--list > span:hover{
    background-color: var(--light_gray);
}

.font_size--container.active .font_size--list_container{
    grid-template-rows: 200px;
}