.page_content 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

no_content{
    display: flex;
    flex-direction: column;
    margin-top: -60px;
    justify-content: center;
}

no_content p{
    text-align: center;
    color: var(--purple);
    font-weight: bold;
}

